@(listName: String, listNameSubtext: Option[String], links: Seq[LinkView], ifEmpty: Option[String] = None)

<div class="page-header">
    <h1>@listName@listNameSubtext.map { sub => <small>@sub</small>}</h1>
</div>
<div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            @if(links.nonEmpty) {
                <div class="list-group">
                @links.map { link =>
                    <a href="@link.call.url" class="list-group-item">

                        <h5 class="list-group-item-heading">@link.label@link.subLabel.map{s => <small>@s</small>}</h5>
                    </a>
                }
                </div>
            } else {
                <p class="text-center">
                    @ifEmpty
                </p>
            }

        </div>
</div>